{% extends "base.html" %}
{% block content %}
<!-- Content here -->
<div class="container bg-white min-vh" style="padding:30px 0px">
    <h3 class="text-center">CAREER</h3>
    <div class="container-fluid">
        <p>
            The Ganga Memorial Public School, New Delhi is a multicultural school delivering outstanding education to
            students from ages 2 to 10. The school combines the best of education and draws inspiration from Indian
            culture and tradition.</p>
        <br>
        <p>We aim to recruit and retain the best possible staff. The Human Resources department is committed to
            providing strategic and operational support to the school to accomplish this goal. The Ganga Memorial Public
            School recruits its staff through external advertisements and referrals.</p>
        <br>
        <p>The Ganga Memorial Public School offers a very competitive compensation and benefits structure. Salary will
            be commensurate with experience and qualifications. </p>
        <p>Please mail your resume at gangaschool2007@gmail.com with subject Resume</p>
    </div>
</div>
{% endblock %}